// --------------------------------------------------------------------------
// Colour 
// --------------------------------------------------------------------------

$Colour-black: #000;
$Colour-white: #fff;


// Semantic colour naming
$Colour-border: #ddd;



// --------------------------------------------------------------------------
// Type 
// --------------------------------------------------------------------------

$FontSize-b: '16px';

$FontWeight-bold: 700;
$FontWeight-normal: 500;
$FontWeight-semi: 600;


$FontItalic: 'italic';